version: "3.8"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./studentportfolio:/usr/share/nginx/html:ro
    depends_on:
      - backend
      - transactions
    networks:
      - appnet

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "6000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/bank_app
      - SECRET_KEY=supersecretkey
    depends_on:
      - mongo
    networks:
      - appnet

  transactions:
    build:
      context: ./transactions
      dockerfile: Dockerfile
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - PORT=3000
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    networks:
      - appnet

  studentportfolio:
    build:
      context: ./studentportfolio
      dockerfile: Dockerfile
    ports:
      - "8080:80"   # separate port for direct access
    networks:
      - appnet

  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - appnet

volumes:
  mongo_data:

networks:
  appnet:
